# Package root directory
recursive-include intron *.py
# include meta data
include LICENSE
include README.rst
# Include documentation and files needed by documentation.
recursive-include docs *.py *.rst *.jpg *.png
# Include tests and files needed by tests.
include pyproject.toml
include tox.ini
recursive-include intron/tests *.py
include .semaphore/semaphore.yml
# Include legacy code.
recursive-include legacy *.py *.gtf *.R